body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}
    
main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;

}

section {
    margin: 20px 0;
    border: 1px solid rgb(o o 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: -9rem;
}

ul {
    margin: 20px 10px;
}


footer {
    font-size: .9rem;
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}

}
